<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/header.ejs")%>
  </head>

  <body id="page-top">
    <%- include("./pages/registration/registration.ejs")%>
    <div class="justify-content-center">
      <%- include("./components/footer.ejs")%>
    </div>
    <%- include("./components/scripts.ejs")%> <%-
    include("./pages/registration/registrationscript.ejs")%>
  </body>
</html>
